a {
	text-decoration: none;
	padding: 5px;
	color: white;
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}

a:hover{
	color:lightblue;
}

h2{
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	background-color:darkblue;
	color: white;
	padding: 10px;
	
	
}

.container {
	display: flex;
	justify-items: center;
	align-items: center;
	justify-content: center;
	background-color: darkblue;
}