<div>
<div class="container">
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">ID</th>
    <th class="tg-0pky">First Name</th>
    <th class="tg-0pky">Last Name</th>
    <th class="tg-0pky">Email</th>
    <th class="tg-0pky">Age</th>
    <th class="tg-0pky">BloodType</th>
    <th class="tg-0lax"></th>
    <th class="tg-0lax"></th>
    <th class="tg-0lax"><a routerLink="/new-patient">Add Patient</a></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let patient of patients; let i = index" [attr.data-index]="i">
    <td class="tg-0pky">{{ i }}</td>
    <td class="tg-0pky">{{ patient.firstName }}</td>
    <td class="tg-0pky">{{ patient.lastName }}</td>
    <td class="tg-0pky">{{ patient.email }}</td>
    <td class="tg-0pky">{{ patient.age }}</td>
    <td class="tg-0pky">{{ patient.bloodType }}</td>
    <td class="tg-0lax"><a routerLink="/patients/{{patient.id}}">View</a></td>
    <td class="tg-0lax"><a routerLink="/patients/{{patient.id}}">Edit</a></td>
    <td class="btn-delete"><button (click)="delete(patient)">Delete</button></td>
  </tr>
</tbody>
</table>
</div>
</div>