<div class="card" *ngIf="patient">
  <div class="title">
  <h2>{{patient.firstName}} {{patient.lastName | uppercase}} Details</h2>
  </div>
  <p class="title">id: {{patient.id}} </p>
<div class="container card" *ngIf="editEnabled;else elseBlock">
<div class="card-body">
  <div>
    <form class="card" name ="createForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div class="form-control">
        <label for="firstName"> First Name</label>
        <input type="text" id="firstName" [(ngModel)]="patient.firstName" required name="firstName"  formControlName="firstName">
        <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
          <small class="form-text text-danger"
                 *ngIf="editForm.get('firstName')?.errors?.required">
            This field is required.
          </small>
        </div>
      </div>
      <div class="form-control" >
        <label for="lastName"> Last Name</label>
        <input type="text" id="lastName" [(ngModel)]="patient.lastName" required name="lastName"  formControlName="lastName">

      </div>
      <div class="form-control">
        <label for="email"> Email</label>
        <input type="text" id="email" [(ngModel)]="patient.email" required name="email"  formControlName="email">
        <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
          <small class="form-text text-danger"
                 *ngIf="editForm.get('email')?.errors?.required">
            This field is required.
          </small>
        </div>
      </div>
      <div class="form-control">
        <label for="age"> Age</label>
        <input type="text" id="age" [(ngModel)]="patient.age" required name="age"  formControlName="age">

      </div>
      <div class="form-control" >
        <label for="birthDate"> Birth Date</label>
        <input type="text" id="birthDate" [(ngModel)]="patient.birthDate" required name="birthDate" formControlName="birthDate">

      </div>
      <div class="form-control">
        <label for="sex"> Sex</label>
        <select class="form-control" id="sex" [(ngModel)]="patient.sex" name="sex" formControlName="sex">
          <option *ngIf="!editForm.get('sex')!.value" [ngValue]="null" selected></option>
          <option value="{{sex.value}}" *ngFor="let sex of sexes | unitFilter:sexFilter ">{{sex.value}}</option>
        </select>
      </div>
      <div class="form-control">
        <label for="bloodType"> Blood Type</label>
        <select class="form-control" id="bloodType" [(ngModel)]="patient.bloodType" name="bloodType" formControlName="bloodType">
          <option *ngIf="!editForm.get('bloodType')!.value" [ngValue]="null" selected></option>
          <option value="{{bloodType.value}}" *ngFor="let bloodType of bloodTypes | unitFilter:bloodTypeFilter">{{bloodType.value}}</option>
        </select>

      </div>
      <div class="form-control">
        <label for="weight"> Weight</label>
        <input type="text" id="weight" [(ngModel)]="patient.weight" required name="weight" formControlName="weight">

        <label for="weightUnit"> Unit</label>
        <select class="form-control" id="weightUnit" [(ngModel)]="patient.weightUnit" name="weightUnit" formControlName="weightUnit">
          <option *ngIf="!editForm.get('weightUnit')!.value" [ngValue]="null" selected></option>
          <option value="{{unit.value}}" *ngFor="let unit of units | unitFilter:weightFilter ">{{unit.value}}</option>
        </select>
      </div>
      <div class="form-control">
        <label for="height"> Height</label>
        <input type="text" id="height" [(ngModel)]="patient.height" required name="height" formControlName="height">

        <label for="heightUnit"> Unit</label>
        <select class="form-control" id="heightUnit" [(ngModel)]="patient.heightUnit" name="heightUnit" formControlName="heightUnit">
          <option *ngIf="!editForm.get('heightUnit')!.value" [ngValue]="null" selected></option>
          <option value="{{unit.value}}" *ngFor="let unit of units | unitFilter:heightFilter ">{{unit.value}}</option>
        </select>
      </div>


      <button type="submit" [disabled]="!editForm.valid">Save Patient</button>

      <!-- select >
        <option *ngFor="let unit of units | unitFilter:heightFilter " value="{{unit.value}}">{{unit.value}}</option>
      </select-->


    </form>
  </div>
  </div>
   </div>
   <ng-template #elseBlock>
     <div class="container">
       <div class="view">
   	<div>
    <label>First Name:</label>
    <label>{{patient.firstName}}</label>
    </div>
    <div>
    <label>Last Name:</label>
    <label>{{patient.lastName}}</label>
    </div>
    <div>
    <label>Email:</label>
    <label>{{patient.email}}</label>
    </div>
    <div>
    <label>Age:</label>
    <label>{{patient.age}}</label>
    </div>
    <div>
    <label>Birth Date:</label>
    <label>{{patient.birthDate}}</label>
    </div>
    <div>
    <label>Sex:</label>
    <label>{{patient.sex}}</label>
    </div>
    <div>
    <label>Blood Type:</label>
    <label>{{patient.bloodType}}</label>
    </div>
    <div>
    <label>Weight: </label>
    <label>{{patient.weight}}{{patient.weightUnit}}</label>
    </div>
    <div>
    <label>Height:</label>
    <label>{{patient.height}}{{patient.heightUnit}}</label>
    </div>
     </div>
     </div>
    <button type="button" (click)="enableEditing()">Edit</button>

   </ng-template>

  <button type="button" (click)="goBack()"> Go Back</button>
</div>
